html { 
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;
margin-left: 10px;
}
header h1 {
padding: 10px;
}
body {
width:  725px
background-color: lightblue;
}
ol li {
padding-left: 10px;
}
img {
  border: 5px solid #0000ff;
  postion: absolute;
  right: 10px;
}



