header {
  padding: 40px;
  text-algin: center;
  background: #00008B;
  color: white;
  font-size: 30px;
}
body {
  background: 808080;
}
img {
  border-radius: 8px;
  width: 50%;
  height: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
li {
  display: inline;
}
a {
  display: block;
  padding: 8px;
  background-color: #000000;
}
