header {
  padding: 40px;
  text-align: center;
  background: #6552D0;
  color: white;
  font-size: 30px;
}
header img {
  background-position: left 30px center;
    }
body {
  background: #A5A5A5;
}
img {
  border-radius: 8px;
  width: 100%;
  height: 50%;
  postion: absolute;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  }
li {
  display: inline;
}
a {
  padding: 8px;  
}
nav {
  display: flex;
  position: center;
}
nav img {
  height: 30px;
  width:  30px;
}
footer {
  padding: 40px;
  text-aglin: center;
  background: #000000;
  color: white;
  font-size: 10px;
}
iframe {
  height: 40%;
  width: 40%;
}
